# Database connection URL
# Format: postgresql+psycopg2://<user>:<password>@<host>:<port>/<dbname>
DATABASE_URL=postgresql+psycopg2://postgres:yourpassword@localhost:5432/mat_system

# JWT
JWT_SECRET_KEY=changethissecretkey
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080
